# ===================== 构建产物 / 编译缓存 =====================
build/
**/build/
.cache/
**/.cache/
cmake/
**/cmake/
*.o
*.a
*.obj
*.elf
*.bin
*.hex
*.map
*.out
*.exe
*.ilk
*.pdb
*.dSYM/
*.su
*.idb

# ===================== CMake 生成文件 =====================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
compile_commands.json
.clangd/

# ===================== ESP-IDF (ESP32S3) 生成文件 =====================
sdkconfig
sdkconfig.old
sdkconfig.defaults.bak
flasher_args.json
managed_components/
components/.idf/
.espressif/
.dependencies.lock
project_description.json
dependencies.lock

# ===================== 第三方工具包 / 大体积二进制 =====================
*.pack
*.zip

# ===================== IDE / 编辑器 =====================
.idea/
*.user
*.suo
*.sln.docstates
*.swp
*.swo
*~
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/*.log

# ===================== 日志 / 临时文件 =====================
*.log
*.tmp
*.bak

# GD32H7 仓库自带交叉编译工具链文件（仅白名单该文件）
!Industrial_Edge_IoT_Terminal_GD32H7/cmake/
Industrial_Edge_IoT_Terminal_GD32H7/cmake/*
!Industrial_Edge_IoT_Terminal_GD32H7/cmake/arm-none-eabi.cmake

